
@media (max-width: 430px) and (max-width: 932px){
  .img-one{
    width: 365px;
    height: 370px;
  }



  .info-bar{
    transform: translateX(-60%);
    margin-top:75px;
    
  }
  .balance{
    margin-top: 90px;
    margin-left: 10px;
    transform: translateX(-50%);
 
  }

  

  .balance-logo{
     margin-top: 45px;
     margin-left: 5px;
    transform: translateX(-50%);
    
    /* width:74px; */
    /* height: 74px; */
  }

  .central-top-logo{
     margin-top: 30px;
     margin-left: -19px;
    transform: translateX(-50%);
  }
 
}


body {
  background: rgb(226,139,13);
  overflow: visible;
  background: linear-gradient(0deg, rgba(226,139,13,1) 0%, rgba(107,67,17,1) 42%, rgba(21,21,31,1) 74%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select:none;
   
  }



.main-block div{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items:center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:aliceblue;
  } 
  
.text-your-balance{
  position: absolute;
  top:9%;
}



.farm{
display: flex;
align-items: center;
gap:7px;
font-size: 20px;
font-weight: bold;

}

.img-one{
  margin:50px 0 0 -1px;
}

.central-top-logo{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

.info-bar{
  position: absolute;
  left:50%;
  transform: translateX(-60%);
  top:135px;
  display: flex;
  font-family: "Anek Devanagari";
  text-align: center;
  color: rgb(148, 148, 148);
  font-size: 12px;
  gap: 13px;
  list-style:none;
  white-space: nowrap;
}

.list{
  margin-left: 1px;
  font-weight: bold;
  font-family: sans-serif;
}

.icon-plus{
  margin-top: 3px;
}

.listing{
  font-size: 17px;
  color:aliceblue;
  margin-left: -3px;
}


.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40.6%;
  left: 50%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  /* width: 310.74px;
  height: 300px; */
  transition: transform 0.1s ease;
  overflow: hidden;
  margin-top: -160px; 
  margin-left: -175px; 
}

.balance-logo{
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -100px;
  top:70px;
  /* width:74px; */
  /* height: 74px; */
}

.balance{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:40px;
  font-size:45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-btn img {
  /* width: 100%;   */
  /* height: 100%; */
  margin-right: 55px;
}

.icons-top{
  position: absolute;
  top: 25%;
  left: 5%;
}

.click-effect {
  pointer-events: none;
  position: absolute;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
  animation: fadeOut 3s ease-in-out forwards;
}

